<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MRC Conditions</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <div class="header-container">
        <h1>Selected Date Details</h1>
        <img src="/mrc_logo.png" alt="MRC Logo" width="100">
    </div>
</header>
<main>
    <p th:text="'Selected Date: ' + ${selectedDate}"></p>
    <a href="/" class="day-link">Back to Home</a>

    <!-- Display each session with its average boats permitted and individual conditions -->
    <div th:each="entry : ${sessionConditionsMap}">
        <div class="session-box">
            <h3><span th:text="${entry.key.date}"></span></h3>

            <div class="average-boats-box">
                <h3>Boats permitted during the session</h3>
                <p><small>Please see the timings throughout the session for guidance</small> </p>
                <p th:if="${sessionBoatsMap[entry.key].single}"><b>Single </b></p>
                <p th:if="${sessionBoatsMap[entry.key].doubles}"><b>Doubles </b></p>
                <p th:if="${sessionBoatsMap[entry.key].noviceFourAndAbove}"><b>Four & above - novice </b></p>
                <p th:if="${sessionBoatsMap[entry.key].seniorFourAndAbove}"><b>Four & above - senior </b></p>
            </div>

            <!-- Container for individual conditions -->
            <div class="conditions-container">
                <!-- Display each individual session condition -->
                <div th:each="condition : ${entry.value}" class="sub-box condition-box">
                    <h4>Condition on <span th:text="${condition.date}"></span></h4>
                    <div class="weather-section">
                        <h4>Weather Conditions:</h4>
                        <p><b>Temperature Feels Like: </b><span th:text="${condition.weatherConditions.getTempFeelsLike()}"></span></p>
                        <p><b>Wind Speed:</b> <span th:text="${condition.weatherConditions.getWindSpeed()}"></span> km/h</p>
                        <p><b>Description:</b> <span th:text="${condition.weatherConditions.description}"></span></p>
                    </div>
                    <div class="boats-permitted">
                        <p th:if="${condition.boatsAllowed.single}"><b>Single </b></p>
                        <p th:if="${condition.boatsAllowed.doubles}"><b>Doubles </b></p>
                        <p th:if="${condition.boatsAllowed.noviceFourAndAbove}"><b>Four & above - novice </b></p>
                        <p th:if="${condition.boatsAllowed.seniorFourAndAbove}"><b>Four & above - senior </b></p>
                    </div>
                    <div class="boats-cancelled">
                        <p th:if="${!condition.boatsAllowed.single}"><b>Single </b></p>
                        <p th:if="${!condition.boatsAllowed.doubles}"><b>Doubles </b></p>
                        <p th:if="${!condition.boatsAllowed.noviceFourAndAbove}"><b>Four & above - novice </b></p>
                        <p th:if="${!condition.boatsAllowed.seniorFourAndAbove}"><b>Four & above - senior </b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>Data provided by <strong>OpenWeatherMap</strong></p>
    <p>Logic/weather rules, & website, provided by Mersey Rowing Club</p>
</footer>
</body>
</html>
