<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Demo</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <div class="header-container">
        <h1>MRC Condition Checker</h1>
        <img src="/mrc_logo.png" alt="MRC Logo" width="100">
    </div>
</header>
<main>
    <p th:text="'Current (UK): ' + ${currentDateTime}"></p>

    <div class="calendar">
        <div class="calendar-header">Today & Next 4 Days:</div>
        <ul class="day-list">
            <li th:each="day : ${nextDays}" class="day-item">
                <a href="#" th:href="@{/date(selectedDate=${day})}" class="day-link button" th:text="${day}"></a>
            </li>
        </ul>
    </div>

    <div class="calendar">
        <div class="calendar-header">Previous 7 Days:</div>
        <ul class="day-list">
            <li th:each="day : ${previousDays}" class="day-item">
                <a href="#" th:href="@{/date(selectedDate=${day})}" class="day-link button" th:text="${day}"></a>
            </li>
        </ul>
    </div>
</main>
<footer>
    <p>Data provided by <strong>OpenWeatherMap</strong></p>
    <p>Logic/weather rules, & website, provided by Mersey Rowing Club</p>
</footer>
</body>
</html>
